name: CI Workflow

on:
  pull_request:
    branches:
      - "main"
permissions:
  contents: read

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Create test env
        shell: bash -l {0}
        run: |
          pip install pylint mccabe
      - name: code quality
        shell: bash -l {0}
        run: |
          pylint --disable=all --fail-under=10 --enable=too-many-statements src/eolab/georastertools/
          pylint --disable=all --fail-under=10 --enable=too-many-nested-blocks src/eolab/georastertools/
          ./continuous_integration/scripts/check_mccabe_complexity.sh 25 src/eolab/georastertools
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: '3.10'
        auto-activate-base: false
    - name: Create test env
      shell: bash -l {0}
      run: |
        conda create -n test_env python=3.10 libgdal=3.5.2 -c conda-forge -c defaults -y
        conda activate test_env
        PIP_NO_BINARY=rasterio pip install .
        pip install pylint mccabe
    - name: test
      shell: bash -l {0}
      run: |
        conda activate test_env
        pytest --cov-fail-under=65 --compare --durations=0